@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}

:root {
  --color-primary: #2563EB;
  --color-secondary: #1F58D8;
  --color-light: #F1F5F9;
  --color-boederColor: #c4c7d2;
}